<h1 class="heading">What a surprise, huh?</h1>
<h2 class="results">There are currently <%= @cards.count %> cards.</h2>

<% if @cards.present? %>
  <table class="card-table">
    <thead>
      <tr>
        <th class="card-image">Image</th>
        <th class="card-rarity">Card Rules</th>
        <th class="card-name">Name</th>
        <th class="card-name">Attacks</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
        <tr class="card-row">
          <td class="card-image">
            <% hires_photos = card['images'].select { |_, url| url.include?('hires') }.values %>
            <% if hires_photos.present? %>
              <% hires_photos.each do |photo| %>
                <%= image_tag(photo, class: "pokemon-image") %>
              <% end %>
            <% else %>
              <p class="no-photo">No high-resolution photo available.</p>
            <% end %>
          </td>
          <td class="card-name">
            <% if card['rules'].present? %>
              <ul class="rules">
                <% card['rules'].each do |rule| %>
                  <p class="rule"><%= rule %></p>
                <% end %>
              </ul>
            <% else %>
              <p class="no-rules">
                No rules available.
              </p>
            <% end %>
          </td>
          <td class="card-name"><%= card['name'] %> <%= card['hp'] %> <%= card['rarity'] %></td>
          <td class="card-name">
            <% if card['attacks'].present? %>
              <ul class="attacks">
                <% card['attacks'].each do |attack| %>
                  <p class="attack-name"><%= attack['name'] %></p>
                  <p class="attack-cost"><%= attack['cost'] %></p>
                  <p class="attack-text"><%= attack['text'] %></p>
                <% end %>
              </ul>
            <% else %>
              <p class="no-attacks">No attacks available.</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="no-cards">No cards found.</p>
<% end %>
